@font-face {
    font-family: 'voltaire'; /* Choose a name for your font */
    src: url('../fonts/Voltaire-Regular.ttf') format('woff');
    /*src: url('../fonts/Roboto-Regular.ttf') format('woff');*/
    /* You can include additional formats as needed */
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

html, body , ul{
margin: 0; 
padding: 0; 
font-family: "voltaire";
color: rgb(62, 58, 58);

}

input, select, option {
  font-family: "voltaire";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.grid-section{
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  background-image: url("../img/pexels-jorischlr-19168467.jpg");
  background-size: cover;
  background-position: -20%;
  
}

.padding-grid {
  flex: 1; 
  width: 20%;
  height: max-content;
}



.navbar {
  height: 10vh;
  width: 100%;
  background-color: rgba(255, 255, 255, .9);
  color: rgb(112, 91, 91);
}

.navbar > ul {
display: flex;
height: 100%;
justify-content: space-around;
align-items: center;
list-style-type: none;
}

section {
  height: 70vh;
  background-color: rgba(255, 255, 255, .7);
}
.audio-elem {
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.audio-elem > p {
  width:  40% ;
  text-align: center;
  
}
.audio-elem > audio {
  height: 5vh;
  margin-left: 1rem;
}

.playlist-item > p > span {
  margin-left: 1rem;
  
}

i {
  color: red;
}



.playlist-item {

  padding: .2rem .5rem;
  min-width: 45%;
  display: flex;
  justify-content: space-around;

}

.playlist-item > audio {
  max-width: 50%;
}


.playlist-section {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;

}

.playlist-intro-container {
  border-bottom: .1px solid black;
  margin: auto;
}



footer {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  background-color: aliceblue;
  font-size: 0.8rem;
  min-height: 20vh;
}

footer > p {
  grid-column: 2;
}



@media (min-width: 900px) and (max-width: 1200px) {
    
    
  .grid-section{
    display: grid;
    grid-template-columns: 15fr 70fr 15fr ;
    
  }




  }

@media (max-width: 900px) {
    
    
  .grid-section{
    display: grid;
    grid-template-columns: 10fr 80fr 10fr ;
    
  }




  }