{{template "base" .}}

{{define "content"}}
  

            <nav class="navbar"> 
                <ul>
                    <li> Mes Compos </li>
                    <li> Running Playlist </li>
                </ul>
            </nav>
            <section>
                <div>
                    
                </div>
                
            </section>
    
    
    
{{end}}
