{{template "base" .}}

{{define "content"}}

            <section>
                {{ range .Data.songs }}
                    <div class="playlist-item" >
                        <p> {{ .Name }} <span> {{ .Artist }} </span>   <a href={{.YtLink}} > <i class="fa-brands fa-youtube"></i> </a> </p>
                       
                    </div>

                {{ end }}
            </section>
    
    
    
{{end}}