{{template "base" .}}

{{define "content"}}
  

            
            <section>
                {{ range .Data.songs }}
                <div class="audio-elem">
                    <p> {{ . }} </p>
                    <audio controls src="/song/compo/{{ . }}"></audio>
                </div>
                {{ end }}
            </section>
            <div> test </div>
    
    
    
{{end}}
